[submodule "ByteCat/vendor/spdlog"]
	path = ByteCat/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ByteCat/vendor/GLFW"]
	path = ByteCat/vendor/GLFW
	url = https://github.com/TheCherno/glfw
