# ByteCat directories
**/bin/
bin-int/
out/
[Bb][Uu][Ii][Ll][Dd]

# Files
*.user
*.bat
*.sh
Makefile

# Visual studio files and folders
.vs/
.vscode/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user